<% @title = "MEMBER LOGIN" %>

<div id="login-form">
    <h1><%= @title %></h1>

    <%= content_tag(:span, flash.notice, class: "notice") if flash.notice%>
    <%= form_with model: @form, url: :account_sessions do |f| %>
        <div>
            <%= f.label :mail_address, "ログインid" %>
            <%= f.text_field :mail_address %>
        </div>
        <div>
            <%= f.label :password, "パスワード" %>
            <%= f.password_field :password %>
        </div>
        <div>
            <%= f.submit "ログイン" %>
        </div>
    <% end %>

</div>

