<% @title = "ログイン" %>

<div id="login-form">
    <h1><%= @title %></h1>

    <%= form_with model: @form, url: :account_session do |f| %>
        <div>
            <%= f.label :mail_address, "メールアドレス" %>
            <%= f.text_field :mail_address %>
        </div>
        <div>
            <%= f.label :hash_password, "パスワード" %>
            <%= f.password_field :hash_password %>
        </div>
        <div>
            <%= f.submit "ログイン" %>
        </div>
    <% end %>
</div>