<% @title = "メンバー情報更新" %>
<h1><%= @title %></h1>

<div id="generic-form">
    <%= form_with model: @member, url: [ :account, @member ] do |m| %>
        <%= render "form", m: m %>
        <div class=buttons>
            <%= m.submit "登録" %>
            <%= link_to "キャンセル", :account_member %>
        </div>
    <% end %>
</div>
